
<!doctype html>
<html lang="en">
  <head>

    <link href="https://cdn.realpython.com" rel="preconnect">
    <link href="https://files.realpython.com" rel="preconnect">

    <title>Python Tutorials – Real Python</title>
    <meta name="author" content="Real Python">
    <meta name="description" content="Learn Python online: Python tutorials for developers of all skill levels, Python books and courses, Python news, code examples, articles, and more.">
    <meta name="keywords" content="">



    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover">


      <link rel="stylesheet" href="https://cdn.realpython.com/static/realpython.min.1a28062d0366.css">
      <link rel="stylesheet" href="https://cdn.realpython.com/static/gfonts/font.5ac42994de49.css">
      <link rel="preload" href="https://cdn.realpython.com/static/glightbox.min.9b438b29cef1.css" as="style" onload="this.onload=null;this.rel='stylesheet'"><noscript><link rel="stylesheet" href="https://cdn.realpython.com/static/glightbox.min.9b438b29cef1.css"></noscript>






      <link rel="canonical" href="https://realpython.com/">



        <meta name="twitter:card" content="summary">
        <meta property="twitter:image" content="https://cdn.realpython.com/static/social-default-image.5e1aa4786b3a.png">
        <meta property="og:image" content="https://cdn.realpython.com/static/social-default-image.5e1aa4786b3a.png">

      <meta name="twitter:creator" content="@realpython">
      <meta name="twitter:site" content="@realpython">
      <meta property="og:title" content="Python Tutorials – Real Python">
      <meta property="og:type" content="article">
      <meta property="og:url" content="https://realpython.com/">
      <meta property="og:description" content="Learn Python online: Python tutorials for developers of all skill levels, Python books and courses, Python news, code examples, articles, and more.">


    <link href="https://cdn.realpython.com/static/favicon.68cbf4197b0c.png" rel="icon">
    <link href="https://realpython.com/atom.xml" rel="alternate" title="Real Python" type="application/atom+xml">
    <link rel="manifest" href="/manifest.json">







    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-35184939-1', 'auto', {'allowLinker': true});







  ga('set', {
    dimension1: false,
    dimension2: false
  });


  ga('send', 'pageview');

</script>


<script async src="https://www.googletagmanager.com/gtag/js?id=G-L7L6L5F6Y6"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-L7L6L5F6Y6');
</script>

  </head>
  <body >


<nav class="navbar fixed-top navbar-expand-lg navbar-dark flex-column ">
  <div class="container flex-row">

    <a class="navbar-brand" href="/">
      <img src="https://cdn.realpython.com/static/real-python-logo.893c30edea53.svg" width="165" height="40" class="d-inline-block align-top" alt="Real Python">
    </a>


    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse navbar-nav-scroll" id="navbarSupportedContent" role="navigation" aria-label="Main Navigation">

      <ul class="navbar-nav mr-2">

        <li class="nav-item">
          <a class="nav-link" href="/start-here/">Start&nbsp;Here</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownLibrary" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="fa fa-graduation-cap" aria-hidden="true"></span> Learn Python
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownLibrary">
            <a class="dropdown-item" href="/search?kind=article&kind=course&order=newest" style="color: #ff7e73; line-height: 110%;"><i class="fa fa-fw mr-1 fa-graduation-cap" aria-hidden="true"></i> Python Tutorials →<br><small class="text-secondary">In-depth articles and video courses</small></a>

            <a class="dropdown-item" href="/learning-paths/" style="color: #ffc873; line-height: 110%;"><i class="fa fa-fw mr-1 fa-map-o" aria-hidden="true"></i> Learning Paths →<br><small class="text-secondary">Guided study plans for accelerated learning</small></a>
            <a class="dropdown-item" href="/quizzes/" style="color: #abe0e5; line-height: 110%;"><i class="fa fa-fw mr-1 fa-trophy" aria-hidden="true"></i> Quizzes →<br><small class="text-secondary">Check your learning progress</small></a>
            <a class="dropdown-item" href="/tutorials/all/" style="color: #ccc; line-height: 110%;"><i class="fa fa-fw mr-1 fa-tags" aria-hidden="true"></i> Browse Topics →<br><small class="text-secondary">Focus on a specific area or skill level</small></a>
            <a class="dropdown-item" href="/community/" style="color: #e5c6ab; line-height: 110%;"><i class="fa fa-fw mr-1 fa-slack" aria-hidden="true"></i> Community Chat →<br><small class="text-secondary">Learn with other Pythonistas</small></a>
            <a class="dropdown-item" href="/office-hours/" style="color: #e5c6ab; line-height: 110%;"><i class="fa fa-fw mr-1 fa-users" aria-hidden="true"></i> Office Hours →<br><small class="text-secondary">Live Q&A calls with Python experts</small></a>
            <a class="dropdown-item" href="/podcasts/rpp/" style="color: #b8abe5; line-height: 110%;"><i class="fa fa-fw mr-1 fa-podcast" aria-hidden="true"></i> Podcast →<br><small class="text-secondary">Hear what’s new in the world of Python</small></a>
            <a class="dropdown-item pb-3" href="/products/books/" style="color: #abe5b1; line-height: 110%;"><i class="fa fa-fw mr-1 fa-book" aria-hidden="true"></i> Books →<br><small class="text-secondary">Round out your knowledge and learn offline</small></a>

              <a class="dropdown-item border-top text-warning" href="/account/join/"><i class="fa fa-fw fa-star text-warning" aria-hidden="true"></i> Unlock All Content →</a>

          </div>
        </li>



        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMore" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            More
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMore">
            <a class="dropdown-item" href="/products/">Python Learning Resources</a>
            <a class="dropdown-item" href="/newsletter/">Python Newsletter</a>
            <a class="dropdown-item" href="https://www.pythonjobshq.com" target="_blank">Python Job Board</a>
            <a class="dropdown-item" href="/team/">Meet the Team</a>
            <a class="dropdown-item" href="/write-for-us/">Become a Tutorial Author</a>
            <a class="dropdown-item" href="/become-an-instructor/">Become a Video Instructor</a>
          </div>
        </li>

      </ul>


      <div class="d-block d-lg-none">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/search" title="Search"><span class="d-block d-lg-none"><i class="fa fa-search" aria-hidden="true"></i> Search</span><span class="d-none d-lg-block"><i class="fa fa-search" aria-hidden="true"></i></span></a>
          </li>
        </ul>
      </div>

      <div class="d-none d-lg-flex align-items-center mr-2 flex-fill">
        <form class="form-inline w-100" action="/search" method="GET">
          <a class="js-search-form-submit position-absolute" href="/search" title="Search"><i class="fa fa-search fa-fw text-muted pl-2" aria-hidden="true"></i></a>
          <input class="search-field form-control form-control-md mr-sm-1 mr-lg-2 w-100" style="padding-left: 2rem;" maxlength=50 type="search" placeholder="Search" aria-label="Search" name="q" autocomplete="off">
          <input type="hidden" name="_from" value="nav">
        </form>
      </div>


      <ul class="navbar-nav ml-auto">

          <li class="nav-item form-inline">
            <a class="ml-2 ml-lg-0 btn btn-sm btn-primary px-3" href="/account/join/">Join</a>
          </li>
          <li class="nav-item">
            <a class="btn text-light" href="/account/login/?next=%2F">Sign&#8209;In</a>
          </li>

      </ul>


    </div>

  </div>



</nav>


    <div class="container main-content">


  <div class="row">

  <div class="col-md-12 col-lg-8">
    <div class="row">
      <div class="col-12">
        <h1 class="mb-2 display-3">Real Python Tutorials</h1>
      </div>


      <div class="col-12 mb-3">
        <div class="card border-0">

          <a href="/courses/python-file-system-exercises/">
            <div class="embed-responsive embed-responsive-16by9">

                <img class="card-img-top m-0 p-0 embed-responsive-item rounded" style="object-fit: contain;" src="https://files.realpython.com/media/Input-and-Output_Watermarked.e99e4b682915.jpg" alt="Python Basics: File System Operations" width="1920" height="1080" srcset="https://robocrop.realpython.net/?url=https%3A//files.realpython.com/media/Input-and-Output_Watermarked.e99e4b682915.jpg&amp;w=480&amp;sig=ab1c3192f2036db137f8bffbda6a48316e85a57e 480w, https://robocrop.realpython.net/?url=https%3A//files.realpython.com/media/Input-and-Output_Watermarked.e99e4b682915.jpg&amp;w=960&amp;sig=07564579ee02e88924df2750ec108788de59656b 960w, https://files.realpython.com/media/Input-and-Output_Watermarked.e99e4b682915.jpg 1920w" sizes="50vw" >


                <div class="card-img-overlay d-flex align-items-center">
                  <div class="mx-auto">
                    <span class="text-light" style="opacity: 0.90;"><i class="fa fa-5x fa-play" aria-hidden="true"></i></span>
                  </div>
                </div>


              <div class="shadow-sm p-0 bg-dark rounded-left border-left border-top border-bottom border-light text-center d-flex align-items-center justify-content-center" style="position:absolute; top:1em; right:0; width: 5em; height: 2em; ">
                <span class="text-light m-0 p-0">NEW</span>
              </div>

            </div>
          </a>

          <div class="card-body m-0 p-0 pt-3">
            <a href="/courses/python-file-system-exercises/">
              <h2 class="card-title h2 my-0 py-0">Python Basics Exercises: File System Operations</h2>
            </a>
            <p class="my-1">In this Python Basics Exercises course, you&#x27;ll review how to use Python to work with your computer&#x27;s file system. Then, you&#x27;ll tackle a coding challenge to further develop your skills.</p>
            <p class="card-text">
              <small class="text-muted">

                  <span class="mr-2">Jan 17, 2023</span>


                <span class="ml-2 fa fa-tags" aria-hidden="true"></span>

                  <a href="/tutorials/basics/" class="badge badge-light text-muted">basics</a>

                  <a href="/tutorials/python/" class="badge badge-light text-muted">python</a>

              </small>
            </p>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="col-12 col-lg-4">
    <div class="row">
      <div class="col-12">




<div class="card mb-3 bg-secondary">
  <form class="card-body" action="/optins/process/" method="post">
    <div class="form-group">
      <p class="h5 text-muted text-center">— FREE Email Series —</p>
      <p class="h3 text-center">🐍 Python Tricks 💌</p>
      <p><img class="img-fluid rounded" src="https://cdn.realpython.com/static/pytrick-dict-merge.4201a0125a5e.png" width="738" height="490" alt="Python Tricks Dictionary Merge"></p>
    </div>
    <div class="form-group">
      <input type="hidden" name="csrfmiddlewaretoken" value="x0joQYGdsrZq5S1q4g7TlGfSkGAyWESdgnO9zglWVXnwfp25uFJHjolouBvRMva4">
      <input type="hidden" name="slug" value="static-python-tricks-sidebar">
      <input type="email" class="form-control form-control-md" name="email" placeholder="Email&hellip;" required>
    </div>
    <button type="submit" name="submit" class="btn btn-primary btn-md btn-block">Get Python Tricks »</button>
    <p class="mb-0 mt-2 text-muted text-center">🔒 No spam. Unsubscribe any time.</p>
  </form>
</div>


      </div>
      <div class="col-12">



<div class="sidebar-module sidebar-module-inset border">
  <p class="h4"><a class="link-unstyled" href="/tutorials/all/">All Tutorial Topics</a></p>

      <a href="/tutorials/advanced/" class="badge badge-light text-muted">advanced</a>

      <a href="/tutorials/api/" class="badge badge-light text-muted">api</a>

      <a href="/tutorials/basics/" class="badge badge-light text-muted">basics</a>

      <a href="/tutorials/best-practices/" class="badge badge-light text-muted">best-practices</a>

      <a href="/tutorials/community/" class="badge badge-light text-muted">community</a>

      <a href="/tutorials/databases/" class="badge badge-light text-muted">databases</a>

      <a href="/tutorials/data-science/" class="badge badge-light text-muted">data-science</a>

      <a href="/tutorials/devops/" class="badge badge-light text-muted">devops</a>

      <a href="/tutorials/django/" class="badge badge-light text-muted">django</a>

      <a href="/tutorials/docker/" class="badge badge-light text-muted">docker</a>

      <a href="/tutorials/flask/" class="badge badge-light text-muted">flask</a>

      <a href="/tutorials/front-end/" class="badge badge-light text-muted">front-end</a>

      <a href="/tutorials/gamedev/" class="badge badge-light text-muted">gamedev</a>

      <a href="/tutorials/gui/" class="badge badge-light text-muted">gui</a>

      <a href="/tutorials/intermediate/" class="badge badge-light text-muted">intermediate</a>

      <a href="/tutorials/machine-learning/" class="badge badge-light text-muted">machine-learning</a>

      <a href="/tutorials/projects/" class="badge badge-light text-muted">projects</a>

      <a href="/tutorials/python/" class="badge badge-light text-muted">python</a>

      <a href="/tutorials/testing/" class="badge badge-light text-muted">testing</a>

      <a href="/tutorials/tools/" class="badge badge-light text-muted">tools</a>

      <a href="/tutorials/web-dev/" class="badge badge-light text-muted">web-dev</a>

      <a href="/tutorials/web-scraping/" class="badge badge-light text-muted">web-scraping</a>

</div>


      </div>
    </div>
  </div>

  <div class="col-12 mt-4">
    <div class="d-flex justify-content-between align-items-center w-100 mt-0 mb-2">
  <h2 class="my-0">Explore Real Python</h2>

</div>


<div class="card-deck mb-3 pl-md-3 pl-sm-3">

  <div class="card bg-dark border-0 ml-0 mr-md-3">
  <div class="card-body text-center highlight-hover-dark rounded">
    <a class="btn stretched-link" href="/learning-paths/" style="color: #ffc873; line-height: 110%;"><i class="fa fa-fw mr-1 fa-map-o"></i>Learning Paths<br><small class="text-secondary">Guided study plans for accelerated learning</small></a>
  </div>
</div>


  <div class="card bg-dark border-0 ml-0 mr-md-3">
  <div class="card-body text-center highlight-hover-dark rounded">
    <a class="btn stretched-link" href="/search?kind=article&kind=course&order=newest" style="color: #ff7e73; line-height: 110%;"><i class="fa fa-fw mr-1 fa-graduation-cap"></i>Python Tutorials<br><small class="text-secondary">In-depth articles and step-by-step video courses</small></a>
  </div>
</div>


  <div class="w-100 mb-3 d-none d-sm-block d-lg-none"></div>

  <div class="card bg-dark border-0 ml-0 mr-md-3">
  <div class="card-body text-center highlight-hover-dark rounded">
    <a class="btn stretched-link" href="/quizzes/" style="color: #abe0e5; line-height: 110%;"><i class="fa fa-fw mr-1 fa-trophy"></i>Quizzes<br><small class="text-secondary">Check your learning progress</small></a>
  </div>
</div>


  <div class="card bg-dark border-0 ml-0 mr-md-3">
  <div class="card-body text-center highlight-hover-dark rounded">
    <a class="btn stretched-link" href="/tutorials/all/" style="color: #ccc; line-height: 110%;"><i class="fa fa-fw mr-1 fa-tags"></i>Browse Topics<br><small class="text-secondary">Focus on a specific area or skill level</small></a>
  </div>
</div>


  <div class="w-100 mb-3 d-none d-sm-block d-lg-none"></div>
  <div class="w-100 mb-3 d-none d-lg-block"></div>

  <div class="card bg-dark border-0 ml-0 mr-md-3">
  <div class="card-body text-center highlight-hover-dark rounded">
    <a class="btn stretched-link" href="/community/" style="color: #e5c6ab; line-height: 110%;"><i class="fa fa-fw mr-1 fa-slack"></i>Community Chat<br><small class="text-secondary">Learn with other Pythonistas</small></a>
  </div>
</div>


  <div class="card bg-dark border-0 ml-0 mr-md-3">
  <div class="card-body text-center highlight-hover-dark rounded">
    <a class="btn stretched-link" href="/office-hours/" style="color: #e5c6ab; line-height: 110%;"><i class="fa fa-fw mr-1 fa-users"></i>Office Hours<br><small class="text-secondary">Live Q&A calls with an expert from the Real Python Team</small></a>
  </div>
</div>


  <div class="w-100 mb-3 d-none d-sm-block d-lg-none"></div>

  <div class="card bg-dark border-0 ml-0 mr-md-3">
  <div class="card-body text-center highlight-hover-dark rounded">
    <a class="btn stretched-link" href="/podcasts/rpp/" style="color: #b8abe5; line-height: 110%;"><i class="fa fa-fw mr-1 fa-podcast"></i>Podcast<br><small class="text-secondary">Hear what’s new in the world of Python programming</small></a>
  </div>
</div>


  <div class="card bg-dark border-0 ml-0 mr-md-3">
  <div class="card-body text-center highlight-hover-dark rounded">
    <a class="btn stretched-link" href="/products/books/" style="color: #abe5b1; line-height: 110%;"><i class="fa fa-fw mr-1 fa-book"></i>Books<br><small class="text-secondary">Round out your knowledge and learn offline</small></a>
  </div>
</div>


</div>

    <div class="d-flex mb-5">
  <form class="form-inline col p-0" action="/search" method="GET" id="home-search-form">
    <a class="js-search-form-submit position-absolute" href="/search" title="Search"><i class="fa fa-search fa-fw text-muted pl-2" aria-hidden="true"></i></a>
    <input class="form-control form-control-lg w-100" style="padding-left: 2rem;" maxlength=50 type="search" placeholder="Search Tutorials, Courses, Quizzes, Learning Paths&hellip;" aria-label="Search" name="q" autocomplete="off">
    <input type="hidden" name="_from" value="home">
  </form>
<button class="ml-3 btn btn-primary col-3 d-none d-lg-block" style="max-width: 250px;" type="submit" form="home-search-form">Search&nbsp;»</button>
</div>

    <div class="d-flex justify-content-between align-items-center w-100 mt-0 mb-2">
  <h2 class="my-0"><a href="/search?order=newest" class="text-body">New Releases</a></h2>

    <a href="/search?order=newest" class="btn btn-secondary btn-sm">View&nbsp;All&nbsp;»</a>

</div>

  </div>


    <div class="col-12 col-md-6 col-lg-4 mb-5">


<div class="card border-0">
  <a href="/python-assignment-operator/">
    <div class="embed-responsive embed-responsive-16by9">

        <img loading="lazy" class="card-img-top m-0 p-0 embed-responsive-item rounded" style="object-fit: contain;" alt="Python&#x27;s Assignment Operator: Write Robust Assignments" src="https://files.realpython.com/media/Pythons-Assignment-Statements-How-Do-They-Work_Watermarked.0a994e47f63c.jpg" width="1920" height="1080" srcset="https://robocrop.realpython.net/?url=https%3A//files.realpython.com/media/Pythons-Assignment-Statements-How-Do-They-Work_Watermarked.0a994e47f63c.jpg&amp;w=480&amp;sig=140d2ac659eefc21fa74e4977bad4bca0e3b9e54 480w, https://robocrop.realpython.net/?url=https%3A//files.realpython.com/media/Pythons-Assignment-Statements-How-Do-They-Work_Watermarked.0a994e47f63c.jpg&amp;w=960&amp;sig=249a2612dc65af61f35b15787246f96a11d59454 960w, https://files.realpython.com/media/Pythons-Assignment-Statements-How-Do-They-Work_Watermarked.0a994e47f63c.jpg 1920w" sizes="25vw">


    </div>
  </a>
  <div class="card-body m-0 p-0 mt-2">
    <a class=" " href="/python-assignment-operator/">
      <h2 class="card-title h4 my-0 py-0">Python&#x27;s Assignment Operator: Write Robust Assignments</h2>
    </a>
    <p class="card-text">
      <small class="text-muted">

          <span class="mr-2">Jan 16, 2023</span>



          <span class="fa fa-tags" aria-hidden="true"></span>

            <a href="/tutorials/best-practices/" class="badge badge-light text-muted">best-practices</a>

            <a href="/tutorials/intermediate/" class="badge badge-light text-muted">intermediate</a>

            <a href="/tutorials/python/" class="badge badge-light text-muted">python</a>


      </small>
    </p>
  </div>
</div>

    </div>

    <div class="col-12 col-md-6 col-lg-4 mb-5">


<div class="card border-0">
  <a href="/python-folium-web-maps-from-data/">
    <div class="embed-responsive embed-responsive-16by9">

        <img loading="lazy" class="card-img-top m-0 p-0 embed-responsive-item rounded" style="object-fit: contain;" alt="Python Folium: Create Web Maps From Your Data" src="https://files.realpython.com/media/Showcase-Folium_Watermarked.e23256df3c8d.jpg" width="1920" height="1080" srcset="https://robocrop.realpython.net/?url=https%3A//files.realpython.com/media/Showcase-Folium_Watermarked.e23256df3c8d.jpg&amp;w=480&amp;sig=f1507d1872b8efb40a4da888be8d100d1333884c 480w, https://robocrop.realpython.net/?url=https%3A//files.realpython.com/media/Showcase-Folium_Watermarked.e23256df3c8d.jpg&amp;w=960&amp;sig=d3a458318913deb61a1a81307981d94cea667fc9 960w, https://files.realpython.com/media/Showcase-Folium_Watermarked.e23256df3c8d.jpg 1920w" sizes="25vw">


    </div>
  </a>
  <div class="card-body m-0 p-0 mt-2">
    <a class=" " href="/python-folium-web-maps-from-data/">
      <h2 class="card-title h4 my-0 py-0">Python Folium: Create Web Maps From Your Data</h2>
    </a>
    <p class="card-text">
      <small class="text-muted">

          <span class="mr-2">Jan 11, 2023</span>



          <span class="fa fa-tags" aria-hidden="true"></span>

            <a href="/tutorials/data-science/" class="badge badge-light text-muted">data-science</a>

            <a href="/tutorials/intermediate/" class="badge badge-light text-muted">intermediate</a>

            <a href="/tutorials/python/" class="badge badge-light text-muted">python</a>


      </small>
    </p>
  </div>
</div>

    </div>

    <div class="col-12 col-md-6 col-lg-4 mb-5">


<div class="card border-0">
  <a href="/courses/using-terminal-macos/">
    <div class="embed-responsive embed-responsive-16by9">

        <img loading="lazy" class="card-img-top m-0 p-0 embed-responsive-item rounded" style="object-fit: contain;" alt="Using the Terminal on macOS Title Image" src="https://files.realpython.com/media/Using-the-Terminal-on-macOS_Watermarked.c54ad499df7a.jpg" width="1920" height="1080" srcset="https://robocrop.realpython.net/?url=https%3A//files.realpython.com/media/Using-the-Terminal-on-macOS_Watermarked.c54ad499df7a.jpg&amp;w=480&amp;sig=7e3574e68bd7423d5e2e68254c2c5277f89184a9 480w, https://robocrop.realpython.net/?url=https%3A//files.realpython.com/media/Using-the-Terminal-on-macOS_Watermarked.c54ad499df7a.jpg&amp;w=960&amp;sig=fee63589d57f43f65edc90c4a4a7a1aae2e1f413 960w, https://files.realpython.com/media/Using-the-Terminal-on-macOS_Watermarked.c54ad499df7a.jpg 1920w" sizes="25vw">


      <div class="card-img-overlay d-flex align-items-center">
        <div class="mx-auto">
          <span class="text-light" style="opacity: 0.90;"><i class="fa fa-4x fa-play " aria-hidden="true"></i></span>
        </div>
      </div>

    </div>
  </a>
  <div class="card-body m-0 p-0 mt-2">
    <a class=" " href="/courses/using-terminal-macos/">
      <h2 class="card-title h4 my-0 py-0">Using the Terminal on macOS</h2>
    </a>
    <p class="card-text">
      <small class="text-muted">

          <span class="mr-2">Jan 10, 2023</span>



          <span class="fa fa-tags" aria-hidden="true"></span>

            <a href="/tutorials/basics/" class="badge badge-light text-muted">basics</a>


      </small>
    </p>
  </div>
</div>

    </div>

    <div class="col-12 col-md-6 col-lg-4 mb-5">


<div class="card border-0">
  <a href="/popular-python-tutorials-2022/">
    <div class="embed-responsive embed-responsive-16by9">

        <img loading="lazy" class="card-img-top m-0 p-0 embed-responsive-item rounded" style="object-fit: contain;" alt="Learn From 2022&#x27;s Most Popular Python Tutorials and Courses" src="https://files.realpython.com/media/Real-Python-Year-in-Review-2022_Watermarked.6f86a0169bd0.jpg" width="1920" height="1080" srcset="https://robocrop.realpython.net/?url=https%3A//files.realpython.com/media/Real-Python-Year-in-Review-2022_Watermarked.6f86a0169bd0.jpg&amp;w=480&amp;sig=67642c936e0a0525ae3c9e1282e48f7d09c78a9a 480w, https://robocrop.realpython.net/?url=https%3A//files.realpython.com/media/Real-Python-Year-in-Review-2022_Watermarked.6f86a0169bd0.jpg&amp;w=960&amp;sig=0a2f5153bfbb778bdeffe8fa82a6821165cfb5a7 960w, https://files.realpython.com/media/Real-Python-Year-in-Review-2022_Watermarked.6f86a0169bd0.jpg 1920w" sizes="25vw">


    </div>
  </a>
  <div class="card-body m-0 p-0 mt-2">
    <a class=" " href="/popular-python-tutorials-2022/">
      <h2 class="card-title h4 my-0 py-0">Learn From 2022&#x27;s Most Popular Python Tutorials and Courses</h2>
    </a>
    <p class="card-text">
      <small class="text-muted">

          <span class="mr-2">Jan 09, 2023</span>



          <span class="fa fa-tags" aria-hidden="true"></span>

            <a href="/tutorials/community/" class="badge badge-light text-muted">community</a>

            <a href="/tutorials/python/" class="badge badge-light text-muted">python</a>


      </small>
    </p>
  </div>
</div>

    </div>

    <div class="col-12 col-md-6 col-lg-4 mb-5">


<div class="card border-0">
  <a href="/bpython-alternative-python-repl/">
    <div class="embed-responsive embed-responsive-16by9">

        <img loading="lazy" class="card-img-top m-0 p-0 embed-responsive-item rounded" style="object-fit: contain;" alt="Discover bpython: Python REPL With IDE-Like Features" src="https://files.realpython.com/media/How-to-Use-bpython_Watermarked.93df3571602c.jpg" width="1920" height="1080" srcset="https://robocrop.realpython.net/?url=https%3A//files.realpython.com/media/How-to-Use-bpython_Watermarked.93df3571602c.jpg&amp;w=480&amp;sig=328d6e71bffb3c371543e77438c96cec5c8ec81c 480w, https://robocrop.realpython.net/?url=https%3A//files.realpython.com/media/How-to-Use-bpython_Watermarked.93df3571602c.jpg&amp;w=960&amp;sig=e044150ba44b822dc796791c16b678db3b249c2d 960w, https://files.realpython.com/media/How-to-Use-bpython_Watermarked.93df3571602c.jpg 1920w" sizes="25vw">


    </div>
  </a>
  <div class="card-body m-0 p-0 mt-2">
    <a class=" " href="/bpython-alternative-python-repl/">
      <h2 class="card-title h4 my-0 py-0">Discover bpython: A Python REPL With IDE-Like Features</h2>
    </a>
    <p class="card-text">
      <small class="text-muted">

          <span class="mr-2">Jan 04, 2023</span>



          <span class="fa fa-tags" aria-hidden="true"></span>

            <a href="/tutorials/intermediate/" class="badge badge-light text-muted">intermediate</a>

            <a href="/tutorials/python/" class="badge badge-light text-muted">python</a>

            <a href="/tutorials/tools/" class="badge badge-light text-muted">tools</a>


      </small>
    </p>
  </div>
</div>

    </div>

    <div class="col-12 col-md-6 col-lg-4 mb-5">


<div class="card border-0">
  <a href="/courses/cross-platform-gui-apps-kivy/">
    <div class="embed-responsive embed-responsive-16by9">

        <img loading="lazy" class="card-img-top m-0 p-0 embed-responsive-item rounded" style="object-fit: contain;" alt="Build a Mobile Application With the Kivy Python Framework" src="https://files.realpython.com/media/Kivy-Tutorial_Watermarked.11c2f9141907.jpg" width="1920" height="1080" srcset="https://robocrop.realpython.net/?url=https%3A//files.realpython.com/media/Kivy-Tutorial_Watermarked.11c2f9141907.jpg&amp;w=480&amp;sig=fde559b99a5ed311a493b5a9b82069f98265c922 480w, https://robocrop.realpython.net/?url=https%3A//files.realpython.com/media/Kivy-Tutorial_Watermarked.11c2f9141907.jpg&amp;w=960&amp;sig=7ed0c7170ace6f5bc13eb9ae5900a15bb6a8fd30 960w, https://files.realpython.com/media/Kivy-Tutorial_Watermarked.11c2f9141907.jpg 1920w" sizes="25vw">


      <div class="card-img-overlay d-flex align-items-center">
        <div class="mx-auto">
          <span class="text-light" style="opacity: 0.90;"><i class="fa fa-4x fa-play " aria-hidden="true"></i></span>
        </div>
      </div>

    </div>
  </a>
  <div class="card-body m-0 p-0 mt-2">
    <a class=" " href="/courses/cross-platform-gui-apps-kivy/">
      <h2 class="card-title h4 my-0 py-0">Build Cross-Platform GUI Apps With Kivy</h2>
    </a>
    <p class="card-text">
      <small class="text-muted">

          <span class="mr-2">Jan 03, 2023</span>



          <span class="fa fa-tags" aria-hidden="true"></span>

            <a href="/tutorials/front-end/" class="badge badge-light text-muted">front-end</a>

            <a href="/tutorials/gui/" class="badge badge-light text-muted">gui</a>

            <a href="/tutorials/intermediate/" class="badge badge-light text-muted">intermediate</a>


      </small>
    </p>
  </div>
</div>

    </div>



  <div class="col-12">
    <div class="col-12 rounded p-0 w-100 mt-2 mb-4" style="overflow:hidden;">

<div style="display:block;position:relative;">
  <div style="display:block;width:100%;padding-top:12.5%;"></div>
  <div class="rpad rounded border" data-unit="8x1" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;"></div>
</div>
<a class="small text-muted" href="/account/join/" rel="nofollow"><i class="fa fa-info-circle mr-1" aria-hidden="true"></i>Remove ads</a>


    </div>
  </div>



    <div class="col-12 col-md-6 col-lg-4 mb-5">


<div class="card border-0">
  <a href="/natural-language-processing-spacy-python/">
    <div class="embed-responsive embed-responsive-16by9">

        <img loading="lazy" class="card-img-top m-0 p-0 embed-responsive-item rounded" style="object-fit: contain;" alt="Natural Language Processing With spaCy in Python" src="https://files.realpython.com/media/How-to-Use-SpaCy-for-Natural-Language-Processing-in-Python_Watermarked_1.b363fc084a80.jpg" width="1920" height="1080" srcset="https://robocrop.realpython.net/?url=https%3A//files.realpython.com/media/How-to-Use-SpaCy-for-Natural-Language-Processing-in-Python_Watermarked_1.b363fc084a80.jpg&amp;w=480&amp;sig=beed2b51c5e61b5444a6b9754fb3f4915ee50266 480w, https://robocrop.realpython.net/?url=https%3A//files.realpython.com/media/How-to-Use-SpaCy-for-Natural-Language-Processing-in-Python_Watermarked_1.b363fc084a80.jpg&amp;w=960&amp;sig=a2d6df431279db8640bd584164cf073c42d43cad 960w, https://files.realpython.com/media/How-to-Use-SpaCy-for-Natural-Language-Processing-in-Python_Watermarked_1.b363fc084a80.jpg 1920w" sizes="25vw">


    </div>
  </a>
  <div class="card-body m-0 p-0 mt-2">
    <a class=" " href="/natural-language-processing-spacy-python/">
      <h2 class="card-title h4 my-0 py-0">Natural Language Processing With spaCy in Python</h2>
    </a>
    <p class="card-text">
      <small class="text-muted">

          <span class="mr-2">Jan 02, 2023</span>



          <span class="fa fa-tags" aria-hidden="true"></span>

            <a href="/tutorials/data-science/" class="badge badge-light text-muted">data-science</a>

            <a href="/tutorials/intermediate/" class="badge badge-light text-muted">intermediate</a>


      </small>
    </p>
  </div>
</div>

    </div>

    <div class="col-12 col-md-6 col-lg-4 mb-5">


<div class="card border-0">
  <a href="/generate-images-with-dalle-openai-api/">
    <div class="embed-responsive embed-responsive-16by9">

        <img loading="lazy" class="card-img-top m-0 p-0 embed-responsive-item rounded" style="object-fit: contain;" alt="Generate Images With DALL·E 2 and the OpenAI API" src="https://files.realpython.com/media/Generate-Images-with-DALL-E-2-and-OpenAIs-API_Watermarked.05753350e866.jpg" width="1920" height="1080" srcset="https://robocrop.realpython.net/?url=https%3A//files.realpython.com/media/Generate-Images-with-DALL-E-2-and-OpenAIs-API_Watermarked.05753350e866.jpg&amp;w=480&amp;sig=fcd8aaea6d64e3974d424c901d6289704f5fe131 480w, https://robocrop.realpython.net/?url=https%3A//files.realpython.com/media/Generate-Images-with-DALL-E-2-and-OpenAIs-API_Watermarked.05753350e866.jpg&amp;w=960&amp;sig=8a7a9eb94d21b3834f0225e9b3b6ebb431f691e3 960w, https://files.realpython.com/media/Generate-Images-with-DALL-E-2-and-OpenAIs-API_Watermarked.05753350e866.jpg 1920w" sizes="25vw">


    </div>
  </a>
  <div class="card-body m-0 p-0 mt-2">
    <a class=" " href="/generate-images-with-dalle-openai-api/">
      <h2 class="card-title h4 my-0 py-0">Generate Images With DALL·E 2 and the OpenAI API</h2>
    </a>
    <p class="card-text">
      <small class="text-muted">

          <span class="mr-2">Dec 21, 2022</span>



          <span class="fa fa-tags" aria-hidden="true"></span>

            <a href="/tutorials/api/" class="badge badge-light text-muted">api</a>

            <a href="/tutorials/data-science/" class="badge badge-light text-muted">data-science</a>

            <a href="/tutorials/intermediate/" class="badge badge-light text-muted">intermediate</a>

            <a href="/tutorials/python/" class="badge badge-light text-muted">python</a>


      </small>
    </p>
  </div>
</div>

    </div>

    <div class="col-12 col-md-6 col-lg-4 mb-5">


<div class="card border-0">
  <a href="/courses/python-basics-file-system-operations/">
    <div class="embed-responsive embed-responsive-16by9">

        <img loading="lazy" class="card-img-top m-0 p-0 embed-responsive-item rounded" style="object-fit: contain;" alt="Python Basics: File System Operations" src="https://files.realpython.com/media/Input-and-Output_Watermarked.e99e4b682915.jpg" width="1920" height="1080" srcset="https://robocrop.realpython.net/?url=https%3A//files.realpython.com/media/Input-and-Output_Watermarked.e99e4b682915.jpg&amp;w=480&amp;sig=ab1c3192f2036db137f8bffbda6a48316e85a57e 480w, https://robocrop.realpython.net/?url=https%3A//files.realpython.com/media/Input-and-Output_Watermarked.e99e4b682915.jpg&amp;w=960&amp;sig=07564579ee02e88924df2750ec108788de59656b 960w, https://files.realpython.com/media/Input-and-Output_Watermarked.e99e4b682915.jpg 1920w" sizes="25vw">


      <div class="card-img-overlay d-flex align-items-center">
        <div class="mx-auto">
          <span class="text-light" style="opacity: 0.90;"><i class="fa fa-4x fa-play " aria-hidden="true"></i></span>
        </div>
      </div>

    </div>
  </a>
  <div class="card-body m-0 p-0 mt-2">
    <a class=" " href="/courses/python-basics-file-system-operations/">
      <h2 class="card-title h4 my-0 py-0">Python Basics: File System Operations</h2>
    </a>
    <p class="card-text">
      <small class="text-muted">

          <span class="mr-2">Dec 20, 2022</span>



          <span class="fa fa-tags" aria-hidden="true"></span>

            <a href="/tutorials/basics/" class="badge badge-light text-muted">basics</a>

            <a href="/tutorials/python/" class="badge badge-light text-muted">python</a>


      </small>
    </p>
  </div>
</div>

    </div>

    <div class="col-12 col-md-6 col-lg-4 mb-5">


<div class="card border-0">
  <a href="/python-in-operator/">
    <div class="embed-responsive embed-responsive-16by9">

        <img loading="lazy" class="card-img-top m-0 p-0 embed-responsive-item rounded" style="object-fit: contain;" alt="Python&#x27;s &quot;in&quot; and &quot;not in&quot; Operators: Check for Membership" src="https://files.realpython.com/media/Membership-Operators-in-Python-in-and-not-in_Watermarked.73bc0897fb99.jpg" width="1920" height="1080" srcset="https://robocrop.realpython.net/?url=https%3A//files.realpython.com/media/Membership-Operators-in-Python-in-and-not-in_Watermarked.73bc0897fb99.jpg&amp;w=480&amp;sig=ea841b13032d217dd237568327594ca3db52ed6d 480w, https://robocrop.realpython.net/?url=https%3A//files.realpython.com/media/Membership-Operators-in-Python-in-and-not-in_Watermarked.73bc0897fb99.jpg&amp;w=960&amp;sig=0102977eef85ecb5764c26d0602f4ef7ae15969e 960w, https://files.realpython.com/media/Membership-Operators-in-Python-in-and-not-in_Watermarked.73bc0897fb99.jpg 1920w" sizes="25vw">


    </div>
  </a>
  <div class="card-body m-0 p-0 mt-2">
    <a class=" " href="/python-in-operator/">
      <h2 class="card-title h4 my-0 py-0">Python&#x27;s &quot;in&quot; and &quot;not in&quot; Operators: Check for Membership</h2>
    </a>
    <p class="card-text">
      <small class="text-muted">

          <span class="mr-2">Dec 19, 2022</span>



          <span class="fa fa-tags" aria-hidden="true"></span>

            <a href="/tutorials/basics/" class="badge badge-light text-muted">basics</a>

            <a href="/tutorials/best-practices/" class="badge badge-light text-muted">best-practices</a>

            <a href="/tutorials/python/" class="badge badge-light text-muted">python</a>


      </small>
    </p>
  </div>
</div>

    </div>

    <div class="col-12 col-md-6 col-lg-4 mb-5">


<div class="card border-0">
  <a href="/courses/with-statement-python/">
    <div class="embed-responsive embed-responsive-16by9">

        <img loading="lazy" class="card-img-top m-0 p-0 embed-responsive-item rounded" style="object-fit: contain;" alt="Context Managers and Python&#x27;s with Statement" src="https://files.realpython.com/media/Context-Managers--the-Python-with-Statement_Watermarked.3774ffbe2514.jpg" width="1920" height="1080" srcset="https://robocrop.realpython.net/?url=https%3A//files.realpython.com/media/Context-Managers--the-Python-with-Statement_Watermarked.3774ffbe2514.jpg&amp;w=480&amp;sig=29932dec041f8bd62a4cc4db59e466d2e270a46b 480w, https://robocrop.realpython.net/?url=https%3A//files.realpython.com/media/Context-Managers--the-Python-with-Statement_Watermarked.3774ffbe2514.jpg&amp;w=960&amp;sig=b84e1e5b473ddc3e2393833913328ccfa9b7d9e7 960w, https://files.realpython.com/media/Context-Managers--the-Python-with-Statement_Watermarked.3774ffbe2514.jpg 1920w" sizes="25vw">


      <div class="card-img-overlay d-flex align-items-center">
        <div class="mx-auto">
          <span class="text-light" style="opacity: 0.90;"><i class="fa fa-4x fa-play " aria-hidden="true"></i></span>
        </div>
      </div>

    </div>
  </a>
  <div class="card-body m-0 p-0 mt-2">
    <a class=" " href="/courses/with-statement-python/">
      <h2 class="card-title h4 my-0 py-0">Context Managers and Python&#x27;s with Statement</h2>
    </a>
    <p class="card-text">
      <small class="text-muted">

          <span class="mr-2">Dec 13, 2022</span>



          <span class="fa fa-tags" aria-hidden="true"></span>

            <a href="/tutorials/intermediate/" class="badge badge-light text-muted">intermediate</a>

            <a href="/tutorials/python/" class="badge badge-light text-muted">python</a>


      </small>
    </p>
  </div>
</div>

    </div>

    <div class="col-12 col-md-6 col-lg-4 mb-5">


<div class="card border-0">
  <a href="/python-get-current-time/">
    <div class="embed-responsive embed-responsive-16by9">

        <img loading="lazy" class="card-img-top m-0 p-0 embed-responsive-item rounded" style="object-fit: contain;" alt="How to Get and Use the Current Time in Python" src="https://files.realpython.com/media/How-Do-I-Get-and-Use-the-Current-Time_Watermarked.c7cdd982005b.jpg" width="1920" height="1080" srcset="https://robocrop.realpython.net/?url=https%3A//files.realpython.com/media/How-Do-I-Get-and-Use-the-Current-Time_Watermarked.c7cdd982005b.jpg&amp;w=480&amp;sig=9f42b46915de2664af2d38aa0322ba04e42e2e24 480w, https://robocrop.realpython.net/?url=https%3A//files.realpython.com/media/How-Do-I-Get-and-Use-the-Current-Time_Watermarked.c7cdd982005b.jpg&amp;w=960&amp;sig=135d33d925a05ea5d75e42812bc1d4eab8f7d05d 960w, https://files.realpython.com/media/How-Do-I-Get-and-Use-the-Current-Time_Watermarked.c7cdd982005b.jpg 1920w" sizes="25vw">


    </div>
  </a>
  <div class="card-body m-0 p-0 mt-2">
    <a class=" " href="/python-get-current-time/">
      <h2 class="card-title h4 my-0 py-0">How to Get and Use the Current Time in Python</h2>
    </a>
    <p class="card-text">
      <small class="text-muted">

          <span class="mr-2">Dec 12, 2022</span>



          <span class="fa fa-tags" aria-hidden="true"></span>

            <a href="/tutorials/intermediate/" class="badge badge-light text-muted">intermediate</a>


      </small>
    </p>
  </div>
</div>

    </div>

    <div class="col-12 col-md-6 col-lg-4 mb-5">


<div class="card border-0">
  <a href="/command-line-interfaces-python-argparse/">
    <div class="embed-responsive embed-responsive-16by9">

        <img loading="lazy" class="card-img-top m-0 p-0 embed-responsive-item rounded" style="object-fit: contain;" alt="How to Build Command Line Interfaces in Python With argparse" src="https://files.realpython.com/media/Python-argparse-Guide_Watermarked.a7affa701ed5.jpg" width="1920" height="1080" srcset="https://robocrop.realpython.net/?url=https%3A//files.realpython.com/media/Python-argparse-Guide_Watermarked.a7affa701ed5.jpg&amp;w=480&amp;sig=a04c1a0c1a617b175c100df0f1bc2645dc16c722 480w, https://robocrop.realpython.net/?url=https%3A//files.realpython.com/media/Python-argparse-Guide_Watermarked.a7affa701ed5.jpg&amp;w=960&amp;sig=e7e753776dbbaab6f6b7e1f66cb045e7974487df 960w, https://files.realpython.com/media/Python-argparse-Guide_Watermarked.a7affa701ed5.jpg 1920w" sizes="25vw">


    </div>
  </a>
  <div class="card-body m-0 p-0 mt-2">
    <a class=" " href="/command-line-interfaces-python-argparse/">
      <h2 class="card-title h4 my-0 py-0">Build Command-Line Interfaces With Python&#x27;s argparse</h2>
    </a>
    <p class="card-text">
      <small class="text-muted">

          <span class="mr-2">Dec 07, 2022</span>



          <span class="fa fa-tags" aria-hidden="true"></span>

            <a href="/tutorials/intermediate/" class="badge badge-light text-muted">intermediate</a>

            <a href="/tutorials/python/" class="badge badge-light text-muted">python</a>


      </small>
    </p>
  </div>
</div>

    </div>

    <div class="col-12 col-md-6 col-lg-4 mb-5">


<div class="card border-0">
  <a href="/courses/python-basics-dictionaries/">
    <div class="embed-responsive embed-responsive-16by9">

        <img loading="lazy" class="card-img-top m-0 p-0 embed-responsive-item rounded" style="object-fit: contain;" alt="Python Basics: Dictionaries" src="https://files.realpython.com/media/Dictionaries_Watermarked.f3cab89511c2.jpg" width="1920" height="1080" srcset="https://robocrop.realpython.net/?url=https%3A//files.realpython.com/media/Dictionaries_Watermarked.f3cab89511c2.jpg&amp;w=480&amp;sig=b8dc3c8c50c7e3f48da5f5d2eecaac1a905ad2dd 480w, https://robocrop.realpython.net/?url=https%3A//files.realpython.com/media/Dictionaries_Watermarked.f3cab89511c2.jpg&amp;w=960&amp;sig=7f290b81d68c497f09d9d413ef7f74db19b7f61f 960w, https://files.realpython.com/media/Dictionaries_Watermarked.f3cab89511c2.jpg 1920w" sizes="25vw">


      <div class="card-img-overlay d-flex align-items-center">
        <div class="mx-auto">
          <span class="text-light" style="opacity: 0.90;"><i class="fa fa-4x fa-play " aria-hidden="true"></i></span>
        </div>
      </div>

    </div>
  </a>
  <div class="card-body m-0 p-0 mt-2">
    <a class=" " href="/courses/python-basics-dictionaries/">
      <h2 class="card-title h4 my-0 py-0">Python Basics: Dictionaries</h2>
    </a>
    <p class="card-text">
      <small class="text-muted">

          <span class="mr-2">Dec 06, 2022</span>



          <span class="fa fa-tags" aria-hidden="true"></span>

            <a href="/tutorials/basics/" class="badge badge-light text-muted">basics</a>

            <a href="/tutorials/python/" class="badge badge-light text-muted">python</a>


      </small>
    </p>
  </div>
</div>

    </div>

    <div class="col-12 col-md-6 col-lg-4 mb-5">


<div class="card border-0">
  <a href="/python-news-november-2022/">
    <div class="embed-responsive embed-responsive-16by9">

        <img loading="lazy" class="card-img-top m-0 p-0 embed-responsive-item rounded" style="object-fit: contain;" alt="Python Monthly News" src="https://files.realpython.com/media/Monthly-Python-News_Purple_Watermarked.5b2e306328cb.jpg" width="1920" height="1080" srcset="https://robocrop.realpython.net/?url=https%3A//files.realpython.com/media/Monthly-Python-News_Purple_Watermarked.5b2e306328cb.jpg&amp;w=480&amp;sig=7851257ee65f481b39e645a7b16bd1237c005854 480w, https://robocrop.realpython.net/?url=https%3A//files.realpython.com/media/Monthly-Python-News_Purple_Watermarked.5b2e306328cb.jpg&amp;w=960&amp;sig=07b632a49f9f910b6311339dcdfa0a603a028f79 960w, https://files.realpython.com/media/Monthly-Python-News_Purple_Watermarked.5b2e306328cb.jpg 1920w" sizes="25vw">


    </div>
  </a>
  <div class="card-body m-0 p-0 mt-2">
    <a class=" " href="/python-news-november-2022/">
      <h2 class="card-title h4 my-0 py-0">Python News: What&#x27;s New From November 2022</h2>
    </a>
    <p class="card-text">
      <small class="text-muted">

          <span class="mr-2">Dec 05, 2022</span>



          <span class="fa fa-tags" aria-hidden="true"></span>

            <a href="/tutorials/community/" class="badge badge-light text-muted">community</a>


      </small>
    </p>
  </div>
</div>

    </div>

    <div class="col-12 col-md-6 col-lg-4 mb-5">


<div class="card border-0">
  <a href="/python-advent-of-code/">
    <div class="embed-responsive embed-responsive-16by9">

        <img loading="lazy" class="card-img-top m-0 p-0 embed-responsive-item rounded" style="object-fit: contain;" alt="Advent of Code" src="https://files.realpython.com/media/Python-Puzzles-with-Advent-of-Code_Watermarked.b6877d55d680.jpg" width="1920" height="1080" srcset="https://robocrop.realpython.net/?url=https%3A//files.realpython.com/media/Python-Puzzles-with-Advent-of-Code_Watermarked.b6877d55d680.jpg&amp;w=480&amp;sig=92f17a4af6ed07fe6fa654244367d128fff5db4f 480w, https://robocrop.realpython.net/?url=https%3A//files.realpython.com/media/Python-Puzzles-with-Advent-of-Code_Watermarked.b6877d55d680.jpg&amp;w=960&amp;sig=391dadf118bea4534a553828ab52c8aa9f6e668a 960w, https://files.realpython.com/media/Python-Puzzles-with-Advent-of-Code_Watermarked.b6877d55d680.jpg 1920w" sizes="25vw">


    </div>
  </a>
  <div class="card-body m-0 p-0 mt-2">
    <a class=" " href="/python-advent-of-code/">
      <h2 class="card-title h4 my-0 py-0">Advent of Code: Solving Your Puzzles With Python</h2>
    </a>
    <p class="card-text">
      <small class="text-muted">

          <span class="mr-2">Nov 30, 2022</span>



          <span class="fa fa-tags" aria-hidden="true"></span>

            <a href="/tutorials/basics/" class="badge badge-light text-muted">basics</a>

            <a href="/tutorials/testing/" class="badge badge-light text-muted">testing</a>


      </small>
    </p>
  </div>
</div>

    </div>

    <div class="col-12 col-md-6 col-lg-4 mb-5">


<div class="card border-0">
  <a href="/courses/pathlib-python/">
    <div class="embed-responsive embed-responsive-16by9">

        <img loading="lazy" class="card-img-top m-0 p-0 embed-responsive-item rounded" style="object-fit: contain;" alt="Python 3 &quot;pathlib&quot; Module: Taming The Filesystem" src="https://files.realpython.com/media/Python-3s-pathlib-Module-Taming-the-File-System_Watermarked.524352e6d4ce.jpg" width="1920" height="1080" srcset="https://robocrop.realpython.net/?url=https%3A//files.realpython.com/media/Python-3s-pathlib-Module-Taming-the-File-System_Watermarked.524352e6d4ce.jpg&amp;w=480&amp;sig=b097ad09903a55c3bdd0aec4f4c67ef88ad7fc79 480w, https://robocrop.realpython.net/?url=https%3A//files.realpython.com/media/Python-3s-pathlib-Module-Taming-the-File-System_Watermarked.524352e6d4ce.jpg&amp;w=960&amp;sig=97ab81de9c266c3a3dcdd64feab0ed984198a1d6 960w, https://files.realpython.com/media/Python-3s-pathlib-Module-Taming-the-File-System_Watermarked.524352e6d4ce.jpg 1920w" sizes="25vw">


      <div class="card-img-overlay d-flex align-items-center">
        <div class="mx-auto">
          <span class="text-light" style="opacity: 0.90;"><i class="fa fa-4x fa-play " aria-hidden="true"></i></span>
        </div>
      </div>

    </div>
  </a>
  <div class="card-body m-0 p-0 mt-2">
    <a class=" " href="/courses/pathlib-python/">
      <h2 class="card-title h4 my-0 py-0">Using Python&#x27;s pathlib Module</h2>
    </a>
    <p class="card-text">
      <small class="text-muted">

          <span class="mr-2">Nov 29, 2022</span>



          <span class="fa fa-tags" aria-hidden="true"></span>

            <a href="/tutorials/intermediate/" class="badge badge-light text-muted">intermediate</a>

            <a href="/tutorials/python/" class="badge badge-light text-muted">python</a>


      </small>
    </p>
  </div>
</div>

    </div>

    <div class="col-12 col-md-6 col-lg-4 mb-5">


<div class="card border-0">
  <a href="/get-all-files-in-directory-python/">
    <div class="embed-responsive embed-responsive-16by9">

        <img loading="lazy" class="card-img-top m-0 p-0 embed-responsive-item rounded" style="object-fit: contain;" alt="How to Get a List of All Files in a Directory With Python" src="https://files.realpython.com/media/How-to-List-Get-All-Files-in-a-Directory-with-Python_Watermarked.b31aa29fe7c7.jpg" width="1920" height="1080" srcset="https://robocrop.realpython.net/?url=https%3A//files.realpython.com/media/How-to-List-Get-All-Files-in-a-Directory-with-Python_Watermarked.b31aa29fe7c7.jpg&amp;w=480&amp;sig=d5bbb50a256c9d4814c312d08fd9fbfb719ee53b 480w, https://robocrop.realpython.net/?url=https%3A//files.realpython.com/media/How-to-List-Get-All-Files-in-a-Directory-with-Python_Watermarked.b31aa29fe7c7.jpg&amp;w=960&amp;sig=b10efca11683e9a980ae713e97d46243a310d55a 960w, https://files.realpython.com/media/How-to-List-Get-All-Files-in-a-Directory-with-Python_Watermarked.b31aa29fe7c7.jpg 1920w" sizes="25vw">


    </div>
  </a>
  <div class="card-body m-0 p-0 mt-2">
    <a class=" " href="/get-all-files-in-directory-python/">
      <h2 class="card-title h4 my-0 py-0">How to Get a List of All Files in a Directory With Python</h2>
    </a>
    <p class="card-text">
      <small class="text-muted">

          <span class="mr-2">Nov 28, 2022</span>



          <span class="fa fa-tags" aria-hidden="true"></span>

            <a href="/tutorials/intermediate/" class="badge badge-light text-muted">intermediate</a>


      </small>
    </p>
  </div>
</div>

    </div>



<div class="w-100 text-center" id="frontpageLoadMore">
  <button class="btn btn-secondary btn-lg px-5 mb-5" hx-get="/api/v1/frontpage_tutorials/1669644000/?v2" hx-trigger="click" hx-target="#frontpageLoadMore" hx-swap="outerHTML" hx-ext="loading-states" data-loading-disable><i class="htmx-indicator fa fa-circle-o-notch fa-spin mx-1"></i>Load More </button>
</div>



  <div class="col-12 col-lg-9 mx-auto my-0">
    <div class="d-flex mb-5">
  <form class="form-inline col p-0" action="/search" method="GET" id="home-search-form">
    <a class="js-search-form-submit position-absolute" href="/search" title="Search"><i class="fa fa-search fa-fw text-muted pl-2" aria-hidden="true"></i></a>
    <input class="form-control form-control-lg w-100" style="padding-left: 2rem;" maxlength=50 type="search" placeholder="Search Tutorials, Courses, Quizzes, Learning Paths&hellip;" aria-label="Search" name="q" autocomplete="off">
    <input type="hidden" name="_from" value="home">
  </form>
<button class="ml-3 btn btn-primary col-3 d-none d-lg-block" style="max-width: 250px;" type="submit" form="home-search-form">Search&nbsp;»</button>
</div>

  </div>


  </div>

    </div>




      <footer class="footer">
  <div class="container">

      <div class="mx-auto mt-4 mb-0" style="max-width: 768px;">

<div style="display:block;position:relative;">
  <div style="display:block;width:100%;padding-top:12.5%;"></div>
  <div class="rpad rounded border" data-unit="8x1" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;"></div>
</div>
<a class="small text-muted" href="/account/join/" rel="nofollow"><i class="fa fa-info-circle mr-1" aria-hidden="true"></i>Remove ads</a>


      </div>


    <p class="text-center text-muted w-75 mx-auto">© 2012–2023 Real&nbsp;Python&nbsp;⋅ <a href="/newsletter/">Newsletter</a>&nbsp;⋅ <a href="/podcasts/rpp/">Podcast</a>&nbsp;⋅ <a href="https://www.youtube.com/realpython">YouTube</a>&nbsp;⋅ <a href="https://twitter.com/realpython">Twitter</a>&nbsp;⋅ <a href="https://facebook.com/LearnRealPython">Facebook</a>&nbsp;⋅ <a href="https://www.instagram.com/realpython/">Instagram</a>&nbsp;⋅ <a href="/">Python&nbsp;Tutorials</a>&nbsp;⋅ <a href="/search">Search</a>&nbsp;⋅ <a href="/privacy-policy/">Privacy Policy</a>&nbsp;⋅ <a href="/energy-policy/">Energy Policy</a>&nbsp;⋅ <a href="/sponsorships/">Advertise</a>&nbsp;⋅ <a href="/contact/">Contact</a><br>❤️ Happy Pythoning!</p>
  </div>
</footer>





    <script>
      (function(document, history, location) {
        var HISTORY_SUPPORT = !!(history && history.pushState);

        var anchorScrolls = {
          ANCHOR_REGEX: /^#[^ ]+$/,
          OFFSET_HEIGHT_PX: 120,

          /**
           * Establish events, and fix initial scroll position if a hash is provided.
           */
          init: function() {
            this.scrollToCurrent();
            window.addEventListener('hashchange', this.scrollToCurrent.bind(this));
            document.body.addEventListener('click', this.delegateAnchors.bind(this));
          },

          /**
           * Return the offset amount to deduct from the normal scroll position.
           * Modify as appropriate to allow for dynamic calculations
           */
          getFixedOffset: function() {
            return this.OFFSET_HEIGHT_PX;
          },

          /**
           * If the provided href is an anchor which resolves to an element on the
           * page, scroll to it.
           * @param  {String} href
           * @return {Boolean} - Was the href an anchor.
           */
          scrollIfAnchor: function(href, pushToHistory) {
            var match, rect, anchorOffset;

            if(!this.ANCHOR_REGEX.test(href)) {
              return false;
            }

            match = document.getElementById(href.slice(1));

            if(match) {
              rect = match.getBoundingClientRect();
              anchorOffset = window.pageYOffset + rect.top - this.getFixedOffset();
              window.scrollTo(window.pageXOffset, anchorOffset);

              // Add the state to history as-per normal anchor links
              if(HISTORY_SUPPORT && pushToHistory) {
                history.pushState({}, document.title, location.pathname + href);
              }
            }

            return !!match;
          },

          /**
           * Attempt to scroll to the current location's hash.
           */
          scrollToCurrent: function() {
            this.scrollIfAnchor(window.location.hash);
          },

          /**
           * If the click event's target was an anchor, fix the scroll position.
           */
          delegateAnchors: function(e) {
            var elem = e.target;

            //
            if (elem.dataset.toggle === "tab") {
              return;
            }

            if(
              elem.nodeName === 'A' &&
              this.scrollIfAnchor(elem.getAttribute('href'), true)
            ) {
              e.preventDefault();
            }
          }
        };

        window.addEventListener(
          'DOMContentLoaded', anchorScrolls.init.bind(anchorScrolls)
        );
      })(window.document, window.history, window.location);
    </script>



    <script>
      (function() {
        var isAndroid = navigator.userAgent.toLowerCase().indexOf("android") > -1;
        if (!isAndroid) {
          return;
        }

        var styles = `
        @font-face {
          font-family: 'DejaVu Sans Mono';
          font-weight: normal;
          font-style: normal;
          font-display: swap;
          src: url('https://cdn.realpython.com/static/mfonts/dejavu-sans-mono.33f00225f915.woff2') format('woff2'),
               url('https://cdn.realpython.com/static/mfonts/dejavu-sans-mono.0da77d3739f3.woff') format('woff'),
               url('https://cdn.realpython.com/static/mfonts/dejavu-sans-mono.c2356fc49835.ttf') format('truetype');
        }
        code, kbd, pre, samp {
          font-family: 'DejaVu Sans Mono', monospace;
        }
        `

        var styleSheet = document.createElement("style")
        styleSheet.type = "text/css"
        styleSheet.innerText = styles
        document.head.appendChild(styleSheet)
      })();
    </script>



    <script src="https://cdn.realpython.com/static/jquery.min.00727d1d5d9c.js"></script>
    <script src="https://cdn.realpython.com/static/popper.min.47dc3aaf2942.js"></script>
    <script src="https://cdn.realpython.com/static/bootstrap.min.a3b2689424c3.js"></script>




    <script>
    (function() {
      document.querySelectorAll(".js-search-form-submit").forEach(function(el) {
        el.addEventListener("click", function(e) {
          e.preventDefault();
          e.currentTarget.parentElement.submit();
        })
      });
    })();
    </script>
    <script src="https://cdn.realpython.com/static/frontend/reader/repl-toggle.925bef973b9c.js" async></script>
    <script src="https://cdn.realpython.com/static/frontend/reader/lightbox.bab438c0f968.js" async></script>
    <script src="https://cdn.realpython.com/static/frontend/reader/platforms-ui.b11202dc6079.js" async></script>













<script>window.rp_prop_id = '58946116052';</script>
<script src="https://srv.realpython.net/tag.js" async></script>


<script src="https://cdn.realpython.com/static/frontend/vendor/htmx.89449074ffdf.js" async></script>









<script>
  var _dcq = _dcq || [];
  var _dcs = _dcs || {};
  _dcs.account = '6214500';

  (function() {
    var dc = document.createElement('script');
    dc.type = 'text/javascript'; dc.async = true;
    dc.src = '//tag.getdrip.com/6214500.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(dc, s);
  })();
</script>



<script>
  !function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
  n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];
  s.parentNode.insertBefore(t,s)}(window, document,'script',
  'https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '2220911568135371');
  fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
  src="https://www.facebook.com/tr?id=2220911568135371&ev=PageView&noscript=1"
/></noscript>






  </body>
</html>
