<footer class="footer ">
    <div class="container">
        <div class="mx-auto mt-4 mb-0" style="max-width: 768px;">
            <div style="display:block;position:relative;">
                <div style="display:block;width:100%;padding-top:12.5%;"></div>
                <div class="rpad rounded border" data-unit="8x1"
                     style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;"></div>
            </div>
            <a class="small text-muted" href="/account/join/" rel="nofollow"><i class="fa fa-info-circle mr-1"
                                                                                aria-hidden="true"></i>Remove ads</a>
        </div>

        <p class="text-center text-muted w-75 mx-auto">
            © 2012–2023 Real&nbsp;Python&nbsp;⋅
            <a href="/newsletter/">Newsletter</a>&nbsp;⋅
            <a href="/podcasts/rpp/">Podcast</a>&nbsp;⋅
            <a href="https://www.youtube.com/realpython">YouTube</a>&nbsp;⋅
            <a href="https://twitter.com/realpython">Twitter</a>&nbsp;⋅
            <a href="https://facebook.com/LearnRealPython">Facebook</a>&nbsp;⋅
            <a href="https://www.instagram.com/realpython/">Instagram</a>&nbsp;⋅
            <a href="/">Python&nbsp;Tutorials</a>&nbsp;⋅
            <a href="/search">Search</a>&nbsp;⋅
            <a href="/privacy-policy/">Privacy Policy</a>&nbsp;⋅
            <a href="/energy-policy/">Energy Policy</a>&nbsp;⋅
            <a href="/sponsorships/">Advertise</a>&nbsp;⋅
            <a href="/contact/">Contact</a><br>❤️ Happy Pythoning!
        </p>
    </div>
</footer>